html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ffffff;
}

.container-section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 20px;
}

.texto-izquierda {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

    .texto-izquierda h2 {
        font-size: 2rem;
        color: #333333;
    }

    .texto-izquierda h3 {
        font-size: 1.5rem;
        color: #007bff;
    }

    .texto-izquierda p {
        font-size: 1rem;
        color: #666666;
    }

.click-azul {
    color: #007bff;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.img-ilustracion {
    flex: 1;
    display: flex;
    justify-content: center;
}

    .img-ilustracion img {
        max-width: 100%;
        height: auto;
    }

.container-section-2 {
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.texto-varios h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 10px;
}

.texto-varios p {
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 40px;
}

.cartas-comunidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carta {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 10px; /* Espaciado lateral */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .carta img {
        max-width: 50px;
        height: auto;
        margin-bottom: 20px;
    }

    .carta h3 {
        font-size: 1.5rem;
        color: #333333;
        margin-bottom: 10px;
    }

    .carta p {
        font-size: 1rem;
        color: #666666;
    }

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative; 
    bottom: 0;
}




/*seccion 3 del index del home*/


.container-section-3 {
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    padding-bottom: 120px; /* Aumenta el padding en la parte inferior para que el fondo sea más largo */
    margin-bottom: 20px;
    position: relative;
}

    .container-section-3 h2 {
        font-size: 2rem;
        color: #333333;
        margin-bottom: 10px;
    }

    .container-section-3 p {
        font-size: 1.2rem;
        color: #666666;
        margin-bottom: 40px;
    }

.recursos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    overflow: visible; /* Asegura que el contenido sobresaliente sea visible */
}

.recurso {
    flex: 0 1 300px;
    position: relative; /* Asegura que los elementos hijos posicionados absolutamente se alineen con este contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: visible; /* Permite que el contenido que sobresale sea visible */
}

.recurso:hover {
     transform: scale(1.05);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}


.recurso-imagen {
    width: 100%;
    height: 200px;
    position: relative; /* Asegura que el texto pueda sobresalir de la imagen */
    
}

.recurso-imagen img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 5px;
}

.recurso-texto {
    position: absolute; /* Permite que el texto se posicione sobre la imagen */
    bottom: -90px; /* Ajusta la posición del texto para sobresalir hacia abajo */
    left: 50%;
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    background: rgba(255, 255, 255, 0.85); /* Fondo más transparente */
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Asegura que el texto esté sobre la imagen */
    border-radius: 5px;
}


.recurso:nth-child(2) { /* Ajusta el margen de la imagen central */
    margin-top: 0; /* Asegura que la imagen central esté en la posición deseada */
}

.recurso:nth-child(1),
.recurso:nth-child(3) { /* Ajusta el margen de las imágenes laterales */
    margin-top: 40px; /* Ajusta la cantidad que deseas para que estén más abajo */
    
}


    .recurso-texto p {
        margin: 0;
        font-size: 1rem;
        color: #333;
    }

    .recurso-texto a {
        display: inline-block;
        margin-top: 10px;
        color: #00b050;
        font-weight: bold;
        text-decoration: none;
    }

        .recurso-texto a:hover {
            text-decoration: underline;
        }




/*estilo de la seccion 4 del index del home y el footer*/


.container-section-4 {
    text-align: center;
    background-color: #ffffff;
    padding: 60px 20px;
    margin: 0; /* Elimina los márgenes */
    width: 100vw; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    position: relative; /* Asegura que esté en el flujo del documento correctamente */
    left: 50%; /* Desplaza el contenedor para asegurar el ancho completo */
    transform: translateX(-50%); /* Compensa el desplazamiento para centrar */
}


    .container-section-4 h2 {
        font-size: 2.5rem;
        color: #333333;
        margin-bottom: 20px;
    }

.btn-inicio {
    padding: 10px 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-inicio:hover {
        background-color: #218838;
    }

    /*Estilo Para cartas de clase*/

.titulo-clases {
    text-align: center; /* Alinea el texto al centro */
    color: black; /* Color del texto, que combina con el fondo oscuro de la carta */
    font-family: Arial, sans-serif; /* Fuente que se ve bien con el diseño general */
    font-size: 2em; /* Tamaño de la fuente */
    margin: 0; /* Elimina los márgenes por defecto para un espaciado más uniforme */
    padding: 0.5em 0; /* Espaciado vertical para mejorar la apariencia */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Añade una sombra sutil al texto para destacarlo */
}
.help-card {
    margin-top: 20px;
    margin-bottom:20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: 400ms;
}

    .help-card:hover {
        transform: scale(1.05);
    }

.help-image {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

.help-text {
    margin-top: 15px;
}

    .help-text h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .help-text p {
        font-size: 1em;
        margin-bottom: 10px;
    }

.parent-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

    .cards .red {
        background-color: #f43f5e;
    }

    .cards .blue {
        background-color: #3b82f6;
    }

    .cards .green {
        background-color: #22c55e;
    }

    .cards .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100px;
        width: 250px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: 400ms;
    }

        .cards .card p.tip {
            font-size: 1em;
            font-weight: 700;
        }

        .cards .card p.second-text {
            font-size: 0.7em;
        }

        .cards .card:hover {
            transform: scale(1.1, 1.1);
        }

        .cards .card:nth-child(7) {
            order: 100;
            flex: 1 1 100%;
            display: flex;
            justify-content: center;
        }


/*Estilos para las cartas de clase*/

.custom-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

    .custom-card img {
        width: 100%;
        height: auto;
        border-bottom: 2px solid #ddd;
    }

.custom-card-body {
    padding: 20px;
}

.custom-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.custom-card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.custom-card-footer {
    padding: 10px 10px;
    background-color: #f8f9fa;
    border-top: 2px solid #ddd;
    text-align: center;
}

.btn-custom {
    margin-right: 5px;
}

.row-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
}

.col-custom {
    flex: 1 1 calc(33.333% - 20px);
}


footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    margin: 0;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

    .footer-column h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #ffffff;
    }

    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }

        .footer-column ul li {
            margin: 5px 0;
        }

            .footer-column ul li a {
                color: #bdc3c7;
                text-decoration: none;
            }

                .footer-column ul li a:hover {
                    text-decoration: underline;
                }

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

footer button[type="submit"] {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    footer button[type="submit"]:hover {
        background-color: #2980b9;
    }










/* Imagen de fondo y superposición */
.category-header-bg {
    position: relative;
    background-image: url('../img/fondoseccionlibros.png');
    background-size: cover;
    height: 600px; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Capa oscura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Estilo para el contenedor del encabezado */
.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    z-index: 2; /* Coloca el contenido por encima de la capa oscura */
}

    .category-header .icon img {
        width: 70px;
        height: 70px;
        border-radius: 20%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        position:relative;
        top:-245px;
    }

    .category-header h1 {
        font-size: 2.4rem;
        margin: 0;
        font-weight: 600;
        color: white; /* Cambiamos el color a blanco para que contraste */
        flex: 1;
        position:absolute;
        top:40px;
        left:130px; 
        
    }

    .category-header .btn {
        background-color: #007bff;
        border-color: #4952b5;
        border-radius: 30px;
        padding: 12px 24px;
        font-size: 1.1rem;
        color: white;
        position: absolute;
        left: 50px;
        top: 390px;
    }

        .category-header .btn:hover {
            background-color: #0056b3;
            border-color: #004085;

        }

/* Campo de búsqueda */
.search-bar {
    position: absolute;
    top: 40px; /* Ajusta la distancia desde el borde superior */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    width: 400px; /* Establece un ancho fijo para el buscador */
    z-index: 2;
}

    .search-bar input {
        width: 100%;
        max-width: 400px;
        padding: 12px 20px;
        border-radius: 25px;
        border: 1px solid #ced4da;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 1rem;
    }

        .search-bar input::placeholder {
            color: #6c757d;
        }








/* Contenedor de las cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Distribuye las cards uniformemente */
    gap: 10px; /* Espacio entre las cards */
    padding: 0; /* Elimina el padding alrededor del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
}

/* Estilo para las cards */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(290px - 80px); /* 5 cards por fila, ajustando el espacio */
    margin: 0; /* Elimina márgenes laterales */
}

    /* Efecto hover para las cards */
    .card:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    /* Imagen dentro de la card */
    .card img {
        width: 100%;
        height: 330px; /* Ajusta la altura de la imagen */
        object-fit: cover; /* Mantiene la proporción y cubre el área */
    }

/* Cuerpo de la card */
.card-body {
    padding: 10px;
    background: #fff;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.card-text {
    margin-bottom: 12px;
    color: #666;
}

/* Estilo del modal */
.modal-content {
    border-radius: 16px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}










/* Contenedor general para los detalles del libro */
.book-details-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Encabezado del libro */
.book-header h5 {
    font-size: 1.75rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

/* Información del libro */
.book-info {
    margin-bottom: 20px;
    color: #555;
}

/* Imagen del libro */
.book-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}

/* Estilo para los botones en el modal */
.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
}

    /* Botones del modal */
    .modal-footer .btn {
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.3s, border-color 0.3s;
    }

    /* Botón Leer */
    .modal-footer .btn-primary {
        background-color: #4a90e2;
        border-color: #4a90e2;
    }

        .modal-footer .btn-primary:hover {
            background-color: #357ab8;
            border-color: #2e68a0;
        }

    /* Botón Editar */
    .modal-footer .btn-warning {
        background-color: #f0ad4e;
        border-color: #eea236;
    }

        .modal-footer .btn-warning:hover {
            background-color: #ec971f;
            border-color: #d58512;
        }

    /* Botón Eliminar */
    .modal-footer .btn-danger {
        background-color: #d9534f;
        border-color: #d43f3a;
    }

        .modal-footer .btn-danger:hover {
            background-color: #c9302c;
            border-color: #ac2925;
        }





.section-title {
    text-align: center;
    font-weight: 600; /* Cambiado a un peso más grueso */
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    padding-left: 20px;
}
.author-name {
    font-weight: 600;
}

.popular-authors {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a varias filas */
    gap: 20px; /* Espacio entre las cards */
    justify-content: space-between; /* Distribuye las cards uniformemente */
    padding: 10px;
}

.author-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 23%; /* Ajuste para que quepan 4 cards por fila */
    transition: transform 0.3s, box-shadow 0.3s;
}

    .author-card:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
}


.author-info {
    text-align: center;
}

.author-name {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #333;
}

.author-bio {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}


    .btn:hover {
        background-color: #0056b3;
    }







/* Diseño minimalista y moderno para el formulario */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Encabezado del formulario con ícono */
.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-header-icon img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.form-header-text {
    text-align: left;
}

.form-title {
    font-size: 28px;
    font-weight: 600;
    color: #2c3e50;
    margin: 0;
}

.form-subtitle {
    font-size: 18px;
    color: #7f8c8d;
    margin-top: 5px;
    margin-bottom: 0;
}

/* Línea divisoria */
hr {
    border: 0;
    height: 1px;
    background: #ecf0f1;
    margin-top: 20px;
}


.form-container {
    background: linear-gradient(135deg, #003366, #0056b3);
    border-radius: 12px;
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    color: #34495e;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        border-color: #1abc9c;
        outline: none;
        background-color: #f1f2fe;
    }

.form-error {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 5px;
}

.form-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.form-btn-primary {
    background-color: #38439f;
    color: white;
    display: flex;
    justify-content: center
}

    .form-btn-primary:hover {
        background-color: #949ce3;
    }

/* Estilo del enlace "Back to List" */
.form-back-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #2980b9;
    text-decoration: none;
}

    .form-back-link:hover {
        text-decoration: underline;
    }

/* Estilo de campos de archivo */
input[type="file"] {
    font-size: 14px;
    padding: 10px;
    background-color: #fafafa;
}

/* Responsivo */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        max-width: 90%;
    }

    .form-btn {
        width: 100%;
    }
}








/*diseño del formulario de editar*/



/* Diseño minimalista y moderno para el formulario */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-header-icon img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.form-header-text {
    text-align: left;
}

.form-title {
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.form-subtitle {
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #ecf0f1;
    margin-top: 20px;
}

.form-container {
    background: linear-gradient(135deg, #003366, #0056b3);
    border-radius: 12px;
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    display: block;
}

.text-pdf {
    color: white;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f1f2f3;
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        border-color: #1abc9c;
        outline: none;
        background-color: #f1f2fe;
    }

.form-error {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 5px;
}

.form-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.form-btn-primary {
    background-color: #38439f;
    color: white;
}

    .form-btn-primary:hover {
        background-color: #949ce3;
    }

.form-back-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

    .form-back-link:hover {
        text-decoration: underline;
    }

input[type="file"] {
    font-size: 14px;
    padding: 10px;
    background-color: #fafafa;
}

@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        max-width: 90%;

    }

    .form-btn {
        width: 100%;
    }
}







/*estilo del formulario de confirmar eliminacion de libro*/




/* Diseño minimalista y moderno para el formulario */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Encabezado del formulario con ícono */
.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-header-icon img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.form-header-text {
    text-align: left;
}

.form-title {
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.form-subtitle {
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
}

/* Línea divisoria */
hr {
    border: 0;
    height: 1px;
    background: #ecf0f1;
    margin-top: 20px;
}


.form-container {
    background: linear-gradient(135deg, #003366, #0056b3);
    border-radius: 12px;
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.form-group {
    margin-bottom: 20px;
    color: white; 
}

.form-label {
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        border-color: #1abc9c;
        outline: none;
        background-color: #f1f2fe;
    }

.form-error {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 5px;
}

.form-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.form-btn-primary {
    background-color: #38439f;
    color: white;
    display: flex;
    justify-content: center
}

    .form-btn-primary:hover {
        background-color: #949ce3;
    }

/* Estilo del enlace "Back to List" */
.form-back-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

    .form-back-link:hover {
        text-decoration: underline;
    }

/* Responsivo */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        max-width: 90%;
    }

    .form-btn {
        width: 100%;
    }
}
